* {
  font-family: roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 250px;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  padding-bottom: 100px;
}

.nav {
  display: flex;
  padding: 16px 190px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  float: right;
  font-size: 18px;
  margin-left: 20px;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 90px 190px;
  width: 100%;
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero img {
  display: flex;
  flex: 1;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-image {
  width: 350px;
}


main h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}

button {
  background-color: #3882f6;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  color: #e5e7eb;
  font-weight: 800;
  font-size: 14px;
}

.main-info {
  display: flex;
  justify-content: center;
  align-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  float: left;
  margin: 30px;
}

figure img {
  object-fit: cover;
  border-radius: 20px;
  border: solid 5px #3882f6;
}

figcaption {
  text-align: center;
  color: #e5e7eb;
  font-size: 18px;
}