* {
  font-family: roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 250px;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  padding-bottom: 100px;
}

.nav {
  display: flex;
  padding: 16px 190px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  float: right;
  font-size: 18px;
  margin-left: 20px;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 90px 190px;
  gap: 50px;
}

.hero-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.hero img {
  display: flex;
  flex: 1;
}

.hero-main h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-image {
  width: 350px;
}


main h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}

button {
  background-color: #3882f6;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  color: #e5e7eb;
  font-weight: 800;
  font-size: 14px;
  margin-top: 16px;
}

.main-info {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 80px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  float: left;
  margin: 30px;
}

figure img {
  object-fit: cover;
  border-radius: 20px;
  border: solid 5px #3882f6;
  width: 150px;
  height: 150px;
}

figcaption {
  text-align: center;
  color: #1f2937;
  font-size: 18px;
  margin-top: 8px;
}

.testimonials {
  padding: 80px 270px;
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.person-quoted {
  font-size: 18px;
  font-weight: bold;
  text-align: end;
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px;
}

.call-to-action {
  display: flex;
  background-color: #3882f6;
  padding: 50px 170px;
  justify-content: space-between;
  flex: 1;
  border-radius: 10px;
}

.blue-section {
  font-size: 18px;
  color: white;
}

.call-to-action button {
  border: solid 2px white;
}

footer {
  text-align: center;
  background-color: #1f2937;
  padding: 16px;
  color: white;
  font-weight: 300;
  word-spacing: 10px;
}